.coinContainer {
    margin: 50px auto;
    border: 1px solid silver;
    border-radius: 10px;
    width: fit-content;
    background-color: #f9f9f9;
}

.input {
    width: 300px;
    margin-top: 50px;
    border: 1px solid silver;
    border-radius: 5px;
    height: 20px;
    padding: 5px;
    background-color: #f9f9f9;
    transition: all 0.2s ease;
}

.input:focus {
    outline: none;
    border-color: white;
    background: white;
    box-shadow: rgb(74, 74, 74, 0, 24)0px 3px 8px;
}